/* Reset de estilos básicos */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
  }
  
  /* Estilos do cabeçalho */
  .header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  .nav ul {
    list-style: none;
  }
  
  .nav li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Estilos da seção de contatos */
  .contact {
    padding: 40px;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .contact-details {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .contact-info {
    text-align: left;
    color: #555;
  }
  
  .contact-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }
  
  /* Estilos da seção de localização */
  .location {
    padding: 40px;
    text-align: center;
  }
  
  .location h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .map {
    position: relative;
    padding-bottom: 75%; /* Proporção 4:3 */
    height: 0;
    overflow: hidden;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  address {
    font-style: normal;
    font-size: 1.1rem;
    margin-top: 20px;
    color: #555;
  }
  
  /* Estilos do rodapé */
  .footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  